
table tr td input,textarea{
    padding: 10px;
    margin: 15px;

}
table{
    display: flex;
    justify-content: center;
}
table tr th{
   font-size: 40px;
}
table tr td{
    font-weight: bold;
    font-size: larger;
 
}
form button{
    padding:20px 40px 20px  40px; 
    margin: 10px 0 0 40px;
   font-weight: bold;
   font-size: larger;
   background-color: #444;
   color: #fff;
   cursor: pointer;
}
form button:hover{
    transform: scale(1.07);
    background-color: #67B;
    color: rgb(214, 11, 197);
}
form {
    text-align: center;
}
#box{
     text-align: center;
     padding: 10px;        
     display: flex;
     align-items: center;
     justify-content: center;
     
}
body{
    background-color: #212121;
    color: #ffffff;
}
