body{
    background-color: rgb(79, 211, 231);
    background-image: url("/project/images/signupbg.avif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.form_signup{
    margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
 
    
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
}
.form_signup input{
    margin: 10px;
    padding: 10px;
   
}
.form_signup span{
    font-weight: bold;
    align-items: center;
    color: black;
    font-size: x-large;

}
form button{
    padding:20px 30px 20px 30px;
    margin: 20px;
    font-size: medium;
    font-weight: bold;
    background-color: black;
    color: white;
}
form button a{
    
    font-size: medium;
    font-weight: bold;
    background-color: black;
    color: white;
    text-decoration: none;
}
.Home{
    float: right;
 } 
#require{
     color: red;
}
button:hover{
    transform: scale(1.09);
    background-color: red;
    color: yellow;
}
button a:hover{
    background-color: red;
    color: yellow;
}