
*{
    padding: 0px;
    margin: 0px;
}

body{
 background-image: url("../images/bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.login-Page{
    margin-top: 12%;
    margin-left: 15%;
    height: 50vh;
    width: 70%;   
     background-color: white;
    color: black;
   
}
.container{
    border-radius: 3rem;

    display: flex;
    height: 100%;
    width: 50%;
    float: right;
    background-color:whitesmoke;
    color: white;
    justify-content: center;
    align-items: center;
   text-align: center;
    
}

.container input{
    padding:10px;
    margin: 10px;
    font-weight: 100;
    font-size: medium;
    background-color:rgb(251, 251, 251);
    color:black;
    border:none ; 
  
  
}
.container label{
    font-weight: bold;
    font-size: 20px;
  color: black;
}

.container form button{
    padding:14px 30px 14px 30px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: azure;
    background-color: black;
    margin: 20px 10px 0px 30px;
   
   }
   form h1{  
    color: black;
   }
   .container h1{
    margin-left:3rem ;
    margin-bottom: 1.7rem;
   }

  
 .Home{
    float: left;
 }   
 .Home a{
    width: 10px;
    text-decoration: none;
    color:black;
    margin-left: 20px;
    display: flex;
    text-align: center;
 }
 .Home a:hover
 {
  color: red;
  
  
 }
 nav{
    background-image: linear-gradient(to right,rgba(14, 202, 177, 0.533),blue);
   
 }
 h3{
    text-align: center;
    color: black;
 }
 .Image img{

    height:386px ;
    width: 50%;
     background-size: cover;
    float: left;
  
 }